n8n/friction-audit-engine.json
{"updatedAt":"2026-06-19T03:49:08.994Z","createdAt":"2026-06-18T18:09:02.484Z","id":"lrd5S7KeK8efML5W","name":"SimplWorks Friction Audit Engine","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"friction-audit","responseMode":"responseNode","options":{},"authentication":"headerAuth"},"id":"webhook_trigger","name":"Webhook - Prospect URL","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"friction-audit-hook","onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"D2QNyl4dHFwvKCdt","name":"Audit Webhook Secret"}}},{"parameters":{"jsCode":"const src = $input.first().json;\nconst body = src.body || src;\nlet raw = String(body.url || body.website || '').trim();\nif (!raw) { throw new Error('No url provided in request body'); }\nif (!/^https?:\\/\\//i.test(raw)) raw = 'https://' + raw;\nconst m = raw.match(/^(https?):\\/\\/([^\\/?#]+)([^?#]*)/i);\nif (!m) { throw new Error('Invalid url: ' + raw); }\nconst protocol = m[1].toLowerCase();\nconst hostname = m[2].toLowerCase();\nconst pathname = m[3] || '';\nconst norm = (protocol + '://' + hostname + pathname).replace(/\\/$/, '');\nlet h = 5381;\nfor (let i = 0; i < norm.length; i++) { h = ((h << 5) + h + norm.charCodeAt(i)) >>> 0; }\nreturn [{ json: { url: norm, url_hash: h.toString(16), host: hostname, email: body.email || null, name: body.name || null, phone: body.phone || null } }];"},"id":"normalize_hash","name":"Normalize + Hash URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,304]},{"parameters":{"operation":"getAll","tableId":"friction_audits","limit":5,"filters":{"conditions":[{"keyName":"url_hash","condition":"eq","keyValue":"={{ $('Normalize + Hash URL').first().json.url_hash }}"}]}},"id":"lookup_hash","name":"Lookup by Hash","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,304],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json).filter(r => r && r.created_at);\nconst now = Date.now();\nconst FRESH = 14 * 24 * 3600 * 1000;\nconst recent = rows.find(r => (now - new Date(r.created_at).getTime()) < FRESH) || null;\nconst base = $('Normalize + Hash URL').first().json;\nreturn [{ json: { ...base, recent_audit: !!recent, cached: recent } }];"},"id":"eval_freshness","name":"Evaluate Freshness","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.recent_audit }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if_audited","name":"Already Audited (14d)?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,304]},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'cached', url: $json.url, score: $json.cached ? $json.cached.score : null, note: 'Audited within the last 14 days' } }}","options":{"responseCode":200}},"id":"respond_cached","name":"Respond - Cached","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1104,160]},{"parameters":{"tableId":"friction_audits","fieldsUi":{"fieldValues":[{"fieldId":"url","fieldValue":"={{ $('Normalize + Hash URL').first().json.url }}"},{"fieldId":"url_hash","fieldValue":"={{ $('Normalize + Hash URL').first().json.url_hash }}"},{"fieldId":"host","fieldValue":"={{ $('Normalize + Hash URL').first().json.host }}"},{"fieldId":"email","fieldValue":"={{ $('Normalize + Hash URL').first().json.email }}"},{"fieldId":"status","fieldValue":"started"}]}},"id":"insert_started","name":"Insert: started","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1104,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'accepted', audit_id: $('Insert: started').first().json.id, message: 'Friction audit queued - report will be emailed shortly.' } }}","options":{"responseCode":202}},"id":"respond_202","name":"Respond - 202 Accepted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1328,432]},{"parameters":{"url":"={{ $('Normalize + Hash URL').first().json.url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":15000}},"id":"fetch_html","name":"Fetch Site HTML","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,320],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&url={{ encodeURIComponent($('Normalize + Hash URL').first().json.url) }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":false,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Normalize + Hash URL').first().json.url }}"},{"name":"strategy","value":"mobile"},{"name":"category","value":"performance"},{"name":"category","value":"accessibility"},{"name":"category","value":"best-practices"},{"name":"category","value":"seo"}]},"options":{"timeout":90000}},"id":"pagespeed","name":"PageSpeed Insights","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,560],"disabled":false,"onError":"continueRegularOutput","credentials":{"httpQueryAuth":{"id":"ETCuLpUnzlWsaY9d","name":"Query Auth account"}}},{"parameters":{"jsCode":"const j = $input.first().json;\nconst html = String(j.data ?? j.body ?? (typeof j === 'string' ? j : '') ?? '');\nconst lc = html.toLowerCase();\nconst pick = (re) => { const m = html.match(re); return m ? m[1].trim() : ''; };\nconst title = pick(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst metaDesc = pick(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([\\s\\S]*?)[\"']/i);\nconst h1count = (html.match(/<h1[\\s>]/gi) || []).length;\nconst canonical = /<link[^>]+rel=[\"']canonical[\"']/i.test(html);\nconst viewport = /<meta[^>]+name=[\"']viewport[\"']/i.test(html);\nconst jsonld = (html.match(/<script[^>]+application\\/ld\\+json/gi) || []).length;\nconst hasFaqSchema = /faqpage/i.test(html);\nconst hasOrgSchema = /[\"']@type[\"']\\s*:\\s*[\"']organization[\"']/i.test(lc);\nconst imgs = (html.match(/<img\\b/gi) || []).length;\nconst imgsAlt = (html.match(/<img\\b[^>]*\\salt=/gi) || []).length;\nconst altPct = imgs ? Math.round(100 * imgsAlt / imgs) : 100;\nconst mailto = /mailto:/i.test(html);\nconst tel = /tel:/i.test(html);\nconst ym = html.match(/(?:©|copyright)[^0-9]{0,15}(20\\d{2})/i);\nconst copyrightYear = ym ? ym[1] : '';\nconst social = {};\n['facebook.com','instagram.com','linkedin.com','youtube.com','twitter.com','x.com'].forEach(d => { social[d] = lc.includes(d); });\nconst text = html.replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim().slice(0, 6000);\nreturn [{ json: { hard: { title, titleLen: title.length, metaDesc, metaLen: metaDesc.length, h1count, canonical, viewport, jsonldBlocks: jsonld, hasFaqSchema, hasOrgSchema, imgCount: imgs, altPct, mailto, tel, copyrightYear, social }, page_text: text, fetched: html.length > 0 } }];"},"id":"parse_signals","name":"Parse Hard Signals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,320]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge_signals","name":"Merge Signals","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1984,432]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst lr = j.lighthouseResult || {};\nconst cat = lr.categories || {};\nconst sc = (k) => (cat[k] && typeof cat[k].score === 'number') ? Math.round(cat[k].score * 100) : null;\nconst audits = lr.audits || {};\nconst lcp = audits['largest-contentful-paint'] ? audits['largest-contentful-paint'].displayValue : null;\nconst cls = audits['cumulative-layout-shift'] ? audits['cumulative-layout-shift'].displayValue : null;\nconst lighthouse = { performance: sc('performance'), accessibility: sc('accessibility'), bestPractices: sc('best-practices'), seo: sc('seo'), lcp, cls, available: Object.keys(cat).length > 0 };\nconst bundle = { hard: j.hard || {}, lighthouse, fetched: j.fetched !== false };\nreturn [{ json: { url: $('Normalize + Hash URL').first().json.url, audit_id: $('Insert: started').first().json.id, bundle: JSON.stringify(bundle, null, 2), page_text: j.page_text || '' } }];"},"id":"assemble_bundle","name":"Assemble Signal Bundle","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,432]},{"parameters":{"promptType":"define","text":"=You are the SimplWorks Friction Audit scoring engine. Grade the website {{ $json.url }} against the SimplWorks 10-point Friction Audit framework. Return ONLY structured JSON.\n\nFRAMEWORK - score each point Pass, Partial, or Fail:\nFOUND: 1 Search visibility (SEO) - unique page titles, meta descriptions, h1 hierarchy, indexable, sitemap. 2 AI visibility (AEO/GEO) - FAQ schema, entity-rich definition prose, quotable first-sentence answers. 3 Local & category presence - location in footer/schema, clearly named service category.\nCLEAR: 4 Homepage messaging clarity - what/who/why understandable in the first screen, no jargon. 5 CTA clarity & presence - a clear, specific, low-friction CTA on every page. 6 Content alignment - speaks to the customer ('you'), names their pain, not a company resume. 7 Conversion path integrity - working forms, tap-to-call, mobile-usable, no dead ends.\nCREDIBLE: 8 Trust signals & proof - real named testimonials, case studies, client logos. 9 Performance & technical health - Lighthouse 90+ all four, LCP under 2.5s, mobile, accessible. 10 Ownership signals - current copyright year, recent activity, live social links, reachable contact.\n\nUse the MEASURED SIGNALS as ground truth for points 1, 2, 3, 7, 9, 10. Use the PAGE TEXT for judgment on points 2, 4, 6, 8. For point 9, map Lighthouse directly: 90+ across all = Pass, 70-89 = Partial, below 70 = Fail; if lighthouse.available is false, score 9 Partial and say data unavailable. If fetched is false, score fetch-dependent points Fail.\n\nMEASURED SIGNALS (JSON):\n{{ $json.bundle }}\n\nPAGE TEXT (truncated to 6000 chars):\n{{ $json.page_text }}\n\nReturn JSON with a 'points' array of exactly 10 objects, each: point (number 1-10), name (string), layer (FOUND/CLEAR/CREDIBLE), score (Pass/Partial/Fail), evidence (one sentence citing a specific signal or line of copy), recommendation (one specific, actionable fix). Output JSON only, no prose.","hasOutputParser":true,"batching":{}},"id":"score_gpt","name":"Score - GPT (primary)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2448,432],"retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Primary scorer failed - you are the fallback. Grade the website {{ $('Assemble Signal Bundle').first().json.url }} against the SimplWorks 10-point Friction Audit framework. Return ONLY structured JSON.\n\nFRAMEWORK - score each Pass/Partial/Fail:\nFOUND: 1 Search visibility (SEO). 2 AI visibility (AEO/GEO). 3 Local & category presence.\nCLEAR: 4 Homepage messaging clarity. 5 CTA clarity & presence. 6 Content alignment with customer. 7 Conversion path integrity.\nCREDIBLE: 8 Trust signals & proof. 9 Performance & technical health (use Lighthouse: 90+ all = Pass, 70-89 = Partial, <70 = Fail). 10 Ownership signals.\n\nMEASURED SIGNALS (JSON):\n{{ $('Assemble Signal Bundle').first().json.bundle }}\n\nPAGE TEXT:\n{{ $('Assemble Signal Bundle').first().json.page_text }}\n\nReturn JSON with a 'points' array of exactly 10 objects: point, name, layer, score (Pass/Partial/Fail), evidence, recommendation. Output JSON only.","hasOutputParser":true,"batching":{}},"id":"score_claude","name":"Score - Claude (fallback)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2448,192]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.2}},"id":"openai_model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2448,640],"credentials":{"openAiApi":{"id":"HdygQuHRPGeWvJek","name":"OpenAI account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-5-sonnet-20241022","cachedResultName":"Claude 3.5 Sonnet"},"options":{"temperature":0.2}},"id":"anthropic_model","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2640,64],"credentials":{"anthropicApi":{"id":"6uRuHS2e1JTZK3Lx","name":"Anthropic account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"points\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"point\": { \"type\": \"number\" },\n          \"name\": { \"type\": \"string\" },\n          \"layer\": { \"type\": \"string\" },\n          \"score\": { \"type\": \"string\", \"enum\": [\"Pass\", \"Partial\", \"Fail\"] },\n          \"evidence\": { \"type\": \"string\" },\n          \"recommendation\": { \"type\": \"string\" }\n        },\n        \"required\": [\"point\", \"name\", \"layer\", \"score\", \"evidence\", \"recommendation\"]\n      }\n    }\n  },\n  \"required\": [\"points\"]\n}"},"id":"output_parser","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2640,640]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst out = j.output || j;\nconst points = Array.isArray(out.points) ? out.points : [];\nconst val = { Pass: 10, Partial: 5, Fail: 0 };\nlet pass = 0, partial = 0, fail = 0, score = 0;\nfor (const p of points) { score += (val[p.score]||0); if(p.score==='Pass')pass++; else if(p.score==='Partial')partial++; else fail++; }\nconst band = score>=90?'Strong site. Minor tune-up opportunities.':score>=70?'Solid foundation with fixable gaps.':score>=50?'Significant issues affecting lead flow and credibility.':'The site is costing the business more than it is earning.';\nconst base = $('Normalize + Hash URL').first().json;\nconst url = base.url;\nconst host = (base.host||'').replace(/^www\\./,'');\nconst preparedFor = (base.name && !/test/i.test(base.name)) ? base.name : (host ? host.charAt(0).toUpperCase()+host.slice(1) : url);\nlet lh = {};\ntry { lh = (JSON.parse($('Assemble Signal Bundle').first().json.bundle).lighthouse) || {}; } catch(e) {}\nconst lhCell = (label, v) => (v===null||v===undefined||v==='') ? '' : '<span class=lhi><b>'+label+'</b> '+v+'</span>';\nconst lhInner = lh.available ? (lhCell('Performance',lh.performance)+lhCell('Accessibility',lh.accessibility)+lhCell('Best Practices',lh.bestPractices)+lhCell('SEO',lh.seo)+lhCell('LCP',lh.lcp)+lhCell('CLS',lh.cls)) : '<span class=lhi>Data unavailable for this run</span>';\nconst lhStrip = '<div class=lhwrap><div class=lhlabel>Performance &mdash; Google Lighthouse</div><div class=lh>'+lhInner+'</div></div>';\nconst cc = [];\nif (base.email) cc.push('<b>'+base.email+'</b>');\nif (base.phone) cc.push('<b>'+base.phone+'</b>');\nconst contactLine = cc.length ? '<div class=meta>Contact: '+cc.join(' &nbsp;&middot;&nbsp; ')+'</div>' : '';\nconst cls = (s)=> s==='Pass'?'pass':(s==='Partial'?'partial':'fail');\nconst rows = points.map(p=> '<tr><td><span class=pt>'+p.point+'. '+p.name+'</span><br><span class=layer>'+p.layer+'</span></td><td class='+cls(p.score)+'>'+p.score+'</td><td>'+p.evidence+'</td><td>'+p.recommendation+'</td></tr>').join('');\nconst css = `body{font-family:'Lato',Arial,sans-serif;color:#161616;margin:0;background:#fff;} .band-top{background:#0e0e0e;padding:26px 40px;} .brandmark{font-family:'Playfair Display',serif;font-weight:900;font-size:30px;color:#fff;letter-spacing:.5px;} .brandmark .g{color:#e3c571;} .brandtag{color:#9a9a9a;font-size:11px;letter-spacing:3px;text-transform:uppercase;margin-top:4px;} .wrap{max-width:780px;margin:0 auto;padding:34px 40px 40px;} .kicker{text-transform:uppercase;letter-spacing:3px;font-size:11px;color:#a07f24;font-weight:700;} .h1{font-family:'Playfair Display',serif;font-size:25px;font-weight:700;margin:6px 0 2px;} .meta{color:#555;font-size:13px;margin:6px 0;} .meta b{color:#161616;} .scorewrap{border-left:5px solid #e3c571;padding-left:16px;margin:16px 0 14px;} .score{font-family:'Playfair Display',serif;font-size:48px;font-weight:900;line-height:1;} .score span{font-size:22px;color:#999;} .tally{font-size:14px;font-weight:700;margin-top:6px;} .band{font-style:italic;color:#444;margin-top:4px;} .lhwrap{margin:0 0 22px;} .lhlabel{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#a07f24;font-weight:700;margin-bottom:7px;} .lh{display:flex;flex-wrap:wrap;gap:8px;} .lhi{background:#f7f4ea;border:1px solid #e6dcc0;border-radius:4px;padding:5px 11px;font-size:12px;color:#555;} .lhi b{color:#161616;} table{border-collapse:collapse;width:100%;font-size:12.5px;} th{background:#0e0e0e;color:#fff;text-align:left;padding:9px;font-weight:700;} td{border:1px solid #e6e6e6;padding:9px;vertical-align:top;} .pt{font-weight:700;} .layer{color:#a07f24;font-size:9.5px;letter-spacing:1.5px;text-transform:uppercase;} .c{text-align:center;} .pass{text-align:center;font-weight:700;color:#1a7f37;} .partial{text-align:center;font-weight:700;color:#a07f24;} .fail{text-align:center;font-weight:700;color:#b3261e;} .foot{margin-top:30px;border-top:3px solid #e3c571;padding-top:16px;font-size:12px;color:#555;line-height:1.6;} .foot .b{font-family:'Playfair Display',serif;font-weight:700;color:#161616;font-size:15px;}`;\nconst html = `<!DOCTYPE html><html><head><meta charset=utf-8><link href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Lato:wght@400;700&display=swap' rel='stylesheet'><style>${css}</style></head><body><div class=band-top><div class=brandmark>Simpl<span class=g>Works</span></div><div class=brandtag>Web Design &amp; AI Automation</div></div><div class=wrap><div class=kicker>10-Point Website Friction Audit</div><div class=h1>Prepared for ${preparedFor}</div><div class=meta>Website audited: <b>${url}</b></div>${contactLine}<div class=scorewrap><div class=score>${score}<span>/100</span></div><div class=tally>${pass} Pass &nbsp;&middot;&nbsp; ${partial} Partial &nbsp;&middot;&nbsp; ${fail} Fail</div><div class=band>${band}</div></div>${lhStrip}<table><tr><th>Point</th><th class=c>Score</th><th>Evidence</th><th>Recommendation</th></tr>${rows}</table><div class=foot><span class=b>SimplWorks</span><br>Knoxville, TN &nbsp;&middot;&nbsp; stephanie@simplworks.ai &nbsp;&middot;&nbsp; 678.617.4598 &nbsp;&middot;&nbsp; simplworks.ai</div></div></body></html>`;\nreturn [{ json: { audit_id: $('Insert: started').first().json.id, url, score, pass, partial, fail, tally: pass+' Pass / '+partial+' Partial / '+fail+' Fail', band, points, report_html: html, email: base.email, phone: base.phone, name: base.name, preparedFor } }];"},"id":"compute_score","name":"Compute Score + Tally","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,432]},{"parameters":{"operation":"update","tableId":"friction_audits","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Insert: started').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"scored"},{"fieldId":"score","fieldValue":"={{ $('Compute Score + Tally').first().json.score }}"},{"fieldId":"pass_count","fieldValue":"={{ $('Compute Score + Tally').first().json.pass }}"},{"fieldId":"partial_count","fieldValue":"={{ $('Compute Score + Tally').first().json.partial }}"},{"fieldId":"fail_count","fieldValue":"={{ $('Compute Score + Tally').first().json.fail }}"},{"fieldId":"results","fieldValue":"={{ JSON.stringify($('Compute Score + Tally').first().json.points) }}"}]}},"id":"update_scored","name":"Update: scored","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3088,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/a86b71684cc9a102976aad124360f182/browser-rendering/pdf","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ html: $('Compute Score + Tally').first().json.report_html }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"generate_pdf","name":"Generate PDF (optional)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,432],"credentials":{"httpHeaderAuth":{"id":"xy9VfUheYBZJYDUL","name":"Header Auth account 2"}},"onError":"continueRegularOutput","notes":"Optional. Connect a PDFShift/Gotenberg credential to render a branded PDF and attach it. The email already sends the branded HTML report, so this stays disabled until a PDF service is wired."},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"email_resend","name":"Email via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,432],"credentials":{"httpHeaderAuth":{"id":"mQSvmgwDEnhjhKIl","name":"Header Auth account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"friction_audits","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Insert: started').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"delivered"}]}},"id":"update_delivered","name":"Update: delivered","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{},"id":"error_trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,768]},{"parameters":{"jsCode":"const e = $input.first().json || {};\nconst wf = e.workflow ? e.workflow.name : 'Friction Audit Engine';\nconst exec = e.execution || {};\nconst node = exec.lastNodeExecuted || 'unknown node';\nconst msg = (exec.error && exec.error.message) ? exec.error.message : 'unknown error';\nconst urlInfo = (exec.error && exec.error.node) ? (' [' + exec.error.node.name + ']') : '';\nreturn [{ json: { text: '🚨 ' + wf + ' FAILED at \"' + node + '\"' + urlInfo + '\\n' + msg } }];"},"id":"build_alert","name":"Build Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,768]},{"parameters":{"jsCode":"const c = $('Compute Score + Tally').first().json;\nconst out = {\n  from: 'SimplWorks <audit@simplworks.ai>',\n  to: [ c.email || 'stephanie@simplworks.ai' ],\n  subject: 'Your SimplWorks Friction Audit - ' + c.score + '/100',\n  html: c.report_html\n};\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (buf && buf.length) {\n    out.attachments = [{ filename: 'SimplWorks-Friction-Audit-' + c.score + '.pdf', content: buf.toString('base64') }];\n  }\n} catch (e) {}\nreturn [{ json: out }];"},"id":"build_email_payload","name":"Build Email Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,624]},{"id":"notify_steph_slack","name":"Notify Stephanie","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[3740,420],"parameters":{"authentication":"accessToken","resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"C0B4NU1KTRR"},"text":"=✅ *Friction Audit complete - {{ $('Compute Score + Tally').first().json.score }}/100*  ({{ $('Compute Score + Tally').first().json.tally }})\n*Site:* {{ $('Compute Score + Tally').first().json.url }}\n*Lead:* {{ $('Compute Score + Tally').first().json.preparedFor }}\n*Email:* {{ $('Compute Score + Tally').first().json.email || 'n/a' }}   *Phone:* {{ $('Compute Score + Tally').first().json.phone || 'n/a' }}","otherOptions":{}},"credentials":{"slackApi":{"id":"Pwu0BcWDd4NXP4nQ","name":"Slack API account"}},"onError":"continueRegularOutput","webhookId":"a5956fc2-4eb6-43dd-9e4d-205c851d9791"},{"id":"alert_steph_slack","name":"Alert Stephanie","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[440,760],"parameters":{"authentication":"accessToken","resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"C0B4NU1KTRR"},"text":"={{ $json.text }}","otherOptions":{}},"credentials":{"slackApi":{"id":"Pwu0BcWDd4NXP4nQ","name":"Slack API account"}},"onError":"continueRegularOutput","webhookId":"fea421b0-6188-458c-8429-343c43bd40c8"}],"connections":{"Webhook - Prospect URL":{"main":[[{"node":"Normalize + Hash URL","type":"main","index":0}]]},"Normalize + Hash URL":{"main":[[{"node":"Lookup by Hash","type":"main","index":0}]]},"Lookup by Hash":{"main":[[{"node":"Evaluate Freshness","type":"main","index":0}]]},"Evaluate Freshness":{"main":[[{"node":"Already Audited (14d)?","type":"main","index":0}]]},"Already Audited (14d)?":{"main":[[{"node":"Respond - Cached","type":"main","index":0}],[{"node":"Insert: started","type":"main","index":0}]]},"Insert: started":{"main":[[{"node":"Respond - 202 Accepted","type":"main","index":0}]]},"Respond - 202 Accepted":{"main":[[{"node":"Fetch Site HTML","type":"main","index":0},{"node":"PageSpeed Insights","type":"main","index":0}]]},"Fetch Site HTML":{"main":[[{"node":"Parse Hard Signals","type":"main","index":0}]]},"Parse Hard Signals":{"main":[[{"node":"Merge Signals","type":"main","index":0}]]},"PageSpeed Insights":{"main":[[{"node":"Merge Signals","type":"main","index":1}]]},"Merge Signals":{"main":[[{"node":"Assemble Signal Bundle","type":"main","index":0}]]},"Assemble Signal Bundle":{"main":[[{"node":"Score - GPT (primary)","type":"main","index":0}]]},"Score - GPT (primary)":{"main":[[{"node":"Compute Score + Tally","type":"main","index":0}],[{"node":"Score - Claude (fallback)","type":"main","index":0}]]},"Score - Claude (fallback)":{"main":[[{"node":"Compute Score + Tally","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Score - GPT (primary)","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Score - Claude (fallback)","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Score - GPT (primary)","type":"ai_outputParser","index":0},{"node":"Score - Claude (fallback)","type":"ai_outputParser","index":0}]]},"Compute Score + Tally":{"main":[[{"node":"Update: scored","type":"main","index":0}]]},"Update: scored":{"main":[[{"node":"Generate PDF (optional)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Build Alert","type":"main","index":0}]]},"Generate PDF (optional)":{"main":[[{"node":"Build Email Payload","type":"main","index":0}]]},"Build Email Payload":{"main":[[{"node":"Email via Resend","type":"main","index":0}]]},"Email via Resend":{"main":[[{"node":"Notify Stephanie","type":"main","index":0}]]},"Notify Stephanie":{"main":[[{"node":"Update: delivered","type":"main","index":0}]]},"Build Alert":{"main":[[{"node":"Alert Stephanie","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"a657f517-ebb4-4477-9d08-94bd84b88370","activeVersionId":"a657f517-ebb4-4477-9d08-94bd84b88370","versionCounter":28,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-18T18:09:02.518Z","createdAt":"2026-06-18T18:09:02.518Z","role":"workflow:owner","workflowId":"lrd5S7KeK8efML5W","projectId":"GeaxdfBC1BShe47G","project":{"updatedAt":"2026-05-19T16:52:56.525Z","createdAt":"2026-05-19T16:52:49.322Z","id":"GeaxdfBC1BShe47G","name":"Stephanie Belote <stephanie@simplworks.ai>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3e673f87-adf6-42c5-8cb6-61069dfbf0ca"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-19T03:49:08.996Z","createdAt":"2026-06-19T03:49:08.996Z","versionId":"a657f517-ebb4-4477-9d08-94bd84b88370","workflowId":"lrd5S7KeK8efML5W","nodes":[{"parameters":{"httpMethod":"POST","path":"friction-audit","responseMode":"responseNode","options":{},"authentication":"headerAuth"},"id":"webhook_trigger","name":"Webhook - Prospect URL","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"friction-audit-hook","onError":"continueRegularOutput","credentials":{"httpHeaderAuth":{"id":"D2QNyl4dHFwvKCdt","name":"Audit Webhook Secret"}}},{"parameters":{"jsCode":"const src = $input.first().json;\nconst body = src.body || src;\nlet raw = String(body.url || body.website || '').trim();\nif (!raw) { throw new Error('No url provided in request body'); }\nif (!/^https?:\\/\\//i.test(raw)) raw = 'https://' + raw;\nconst m = raw.match(/^(https?):\\/\\/([^\\/?#]+)([^?#]*)/i);\nif (!m) { throw new Error('Invalid url: ' + raw); }\nconst protocol = m[1].toLowerCase();\nconst hostname = m[2].toLowerCase();\nconst pathname = m[3] || '';\nconst norm = (protocol + '://' + hostname + pathname).replace(/\\/$/, '');\nlet h = 5381;\nfor (let i = 0; i < norm.length; i++) { h = ((h << 5) + h + norm.charCodeAt(i)) >>> 0; }\nreturn [{ json: { url: norm, url_hash: h.toString(16), host: hostname, email: body.email || null, name: body.name || null, phone: body.phone || null } }];"},"id":"normalize_hash","name":"Normalize + Hash URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,304]},{"parameters":{"operation":"getAll","tableId":"friction_audits","limit":5,"filters":{"conditions":[{"keyName":"url_hash","condition":"eq","keyValue":"={{ $('Normalize + Hash URL').first().json.url_hash }}"}]}},"id":"lookup_hash","name":"Lookup by Hash","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[448,304],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json).filter(r => r && r.created_at);\nconst now = Date.now();\nconst FRESH = 14 * 24 * 3600 * 1000;\nconst recent = rows.find(r => (now - new Date(r.created_at).getTime()) < FRESH) || null;\nconst base = $('Normalize + Hash URL').first().json;\nreturn [{ json: { ...base, recent_audit: !!recent, cached: recent } }];"},"id":"eval_freshness","name":"Evaluate Freshness","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.recent_audit }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if_audited","name":"Already Audited (14d)?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,304]},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'cached', url: $json.url, score: $json.cached ? $json.cached.score : null, note: 'Audited within the last 14 days' } }}","options":{"responseCode":200}},"id":"respond_cached","name":"Respond - Cached","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1104,160]},{"parameters":{"tableId":"friction_audits","fieldsUi":{"fieldValues":[{"fieldId":"url","fieldValue":"={{ $('Normalize + Hash URL').first().json.url }}"},{"fieldId":"url_hash","fieldValue":"={{ $('Normalize + Hash URL').first().json.url_hash }}"},{"fieldId":"host","fieldValue":"={{ $('Normalize + Hash URL').first().json.host }}"},{"fieldId":"email","fieldValue":"={{ $('Normalize + Hash URL').first().json.email }}"},{"fieldId":"status","fieldValue":"started"}]}},"id":"insert_started","name":"Insert: started","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1104,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { status: 'accepted', audit_id: $('Insert: started').first().json.id, message: 'Friction audit queued - report will be emailed shortly.' } }}","options":{"responseCode":202}},"id":"respond_202","name":"Respond - 202 Accepted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1328,432]},{"parameters":{"url":"={{ $('Normalize + Hash URL').first().json.url }}","options":{"redirect":{"redirect":{}},"response":{"response":{"neverError":true,"responseFormat":"text"}},"timeout":15000}},"id":"fetch_html","name":"Fetch Site HTML","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,320],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.googleapis.com/pagespeedonline/v5/runPagespeed?strategy=mobile&category=performance&category=accessibility&category=best-practices&category=seo&url={{ encodeURIComponent($('Normalize + Hash URL').first().json.url) }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":false,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Normalize + Hash URL').first().json.url }}"},{"name":"strategy","value":"mobile"},{"name":"category","value":"performance"},{"name":"category","value":"accessibility"},{"name":"category","value":"best-practices"},{"name":"category","value":"seo"}]},"options":{"timeout":90000}},"id":"pagespeed","name":"PageSpeed Insights","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,560],"disabled":false,"onError":"continueRegularOutput","credentials":{"httpQueryAuth":{"id":"ETCuLpUnzlWsaY9d","name":"Query Auth account"}}},{"parameters":{"jsCode":"const j = $input.first().json;\nconst html = String(j.data ?? j.body ?? (typeof j === 'string' ? j : '') ?? '');\nconst lc = html.toLowerCase();\nconst pick = (re) => { const m = html.match(re); return m ? m[1].trim() : ''; };\nconst title = pick(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst metaDesc = pick(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([\\s\\S]*?)[\"']/i);\nconst h1count = (html.match(/<h1[\\s>]/gi) || []).length;\nconst canonical = /<link[^>]+rel=[\"']canonical[\"']/i.test(html);\nconst viewport = /<meta[^>]+name=[\"']viewport[\"']/i.test(html);\nconst jsonld = (html.match(/<script[^>]+application\\/ld\\+json/gi) || []).length;\nconst hasFaqSchema = /faqpage/i.test(html);\nconst hasOrgSchema = /[\"']@type[\"']\\s*:\\s*[\"']organization[\"']/i.test(lc);\nconst imgs = (html.match(/<img\\b/gi) || []).length;\nconst imgsAlt = (html.match(/<img\\b[^>]*\\salt=/gi) || []).length;\nconst altPct = imgs ? Math.round(100 * imgsAlt / imgs) : 100;\nconst mailto = /mailto:/i.test(html);\nconst tel = /tel:/i.test(html);\nconst ym = html.match(/(?:©|copyright)[^0-9]{0,15}(20\\d{2})/i);\nconst copyrightYear = ym ? ym[1] : '';\nconst social = {};\n['facebook.com','instagram.com','linkedin.com','youtube.com','twitter.com','x.com'].forEach(d => { social[d] = lc.includes(d); });\nconst text = html.replace(/<script[\\s\\S]*?<\\/script>/gi,' ').replace(/<style[\\s\\S]*?<\\/style>/gi,' ').replace(/<[^>]+>/g,' ').replace(/\\s+/g,' ').trim().slice(0, 6000);\nreturn [{ json: { hard: { title, titleLen: title.length, metaDesc, metaLen: metaDesc.length, h1count, canonical, viewport, jsonldBlocks: jsonld, hasFaqSchema, hasOrgSchema, imgCount: imgs, altPct, mailto, tel, copyrightYear, social }, page_text: text, fetched: html.length > 0 } }];"},"id":"parse_signals","name":"Parse Hard Signals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,320]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge_signals","name":"Merge Signals","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1984,432]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst lr = j.lighthouseResult || {};\nconst cat = lr.categories || {};\nconst sc = (k) => (cat[k] && typeof cat[k].score === 'number') ? Math.round(cat[k].score * 100) : null;\nconst audits = lr.audits || {};\nconst lcp = audits['largest-contentful-paint'] ? audits['largest-contentful-paint'].displayValue : null;\nconst cls = audits['cumulative-layout-shift'] ? audits['cumulative-layout-shift'].displayValue : null;\nconst lighthouse = { performance: sc('performance'), accessibility: sc('accessibility'), bestPractices: sc('best-practices'), seo: sc('seo'), lcp, cls, available: Object.keys(cat).length > 0 };\nconst bundle = { hard: j.hard || {}, lighthouse, fetched: j.fetched !== false };\nreturn [{ json: { url: $('Normalize + Hash URL').first().json.url, audit_id: $('Insert: started').first().json.id, bundle: JSON.stringify(bundle, null, 2), page_text: j.page_text || '' } }];"},"id":"assemble_bundle","name":"Assemble Signal Bundle","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,432]},{"parameters":{"promptType":"define","text":"=You are the SimplWorks Friction Audit scoring engine. Grade the website {{ $json.url }} against the SimplWorks 10-point Friction Audit framework. Return ONLY structured JSON.\n\nFRAMEWORK - score each point Pass, Partial, or Fail:\nFOUND: 1 Search visibility (SEO) - unique page titles, meta descriptions, h1 hierarchy, indexable, sitemap. 2 AI visibility (AEO/GEO) - FAQ schema, entity-rich definition prose, quotable first-sentence answers. 3 Local & category presence - location in footer/schema, clearly named service category.\nCLEAR: 4 Homepage messaging clarity - what/who/why understandable in the first screen, no jargon. 5 CTA clarity & presence - a clear, specific, low-friction CTA on every page. 6 Content alignment - speaks to the customer ('you'), names their pain, not a company resume. 7 Conversion path integrity - working forms, tap-to-call, mobile-usable, no dead ends.\nCREDIBLE: 8 Trust signals & proof - real named testimonials, case studies, client logos. 9 Performance & technical health - Lighthouse 90+ all four, LCP under 2.5s, mobile, accessible. 10 Ownership signals - current copyright year, recent activity, live social links, reachable contact.\n\nUse the MEASURED SIGNALS as ground truth for points 1, 2, 3, 7, 9, 10. Use the PAGE TEXT for judgment on points 2, 4, 6, 8. For point 9, map Lighthouse directly: 90+ across all = Pass, 70-89 = Partial, below 70 = Fail; if lighthouse.available is false, score 9 Partial and say data unavailable. If fetched is false, score fetch-dependent points Fail.\n\nMEASURED SIGNALS (JSON):\n{{ $json.bundle }}\n\nPAGE TEXT (truncated to 6000 chars):\n{{ $json.page_text }}\n\nReturn JSON with a 'points' array of exactly 10 objects, each: point (number 1-10), name (string), layer (FOUND/CLEAR/CREDIBLE), score (Pass/Partial/Fail), evidence (one sentence citing a specific signal or line of copy), recommendation (one specific, actionable fix). Output JSON only, no prose.","hasOutputParser":true,"batching":{}},"id":"score_gpt","name":"Score - GPT (primary)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2448,432],"retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=Primary scorer failed - you are the fallback. Grade the website {{ $('Assemble Signal Bundle').first().json.url }} against the SimplWorks 10-point Friction Audit framework. Return ONLY structured JSON.\n\nFRAMEWORK - score each Pass/Partial/Fail:\nFOUND: 1 Search visibility (SEO). 2 AI visibility (AEO/GEO). 3 Local & category presence.\nCLEAR: 4 Homepage messaging clarity. 5 CTA clarity & presence. 6 Content alignment with customer. 7 Conversion path integrity.\nCREDIBLE: 8 Trust signals & proof. 9 Performance & technical health (use Lighthouse: 90+ all = Pass, 70-89 = Partial, <70 = Fail). 10 Ownership signals.\n\nMEASURED SIGNALS (JSON):\n{{ $('Assemble Signal Bundle').first().json.bundle }}\n\nPAGE TEXT:\n{{ $('Assemble Signal Bundle').first().json.page_text }}\n\nReturn JSON with a 'points' array of exactly 10 objects: point, name, layer, score (Pass/Partial/Fail), evidence, recommendation. Output JSON only.","hasOutputParser":true,"batching":{}},"id":"score_claude","name":"Score - Claude (fallback)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2448,192]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.2}},"id":"openai_model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2448,640],"credentials":{"openAiApi":{"id":"HdygQuHRPGeWvJek","name":"OpenAI account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-5-sonnet-20241022","cachedResultName":"Claude 3.5 Sonnet"},"options":{"temperature":0.2}},"id":"anthropic_model","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2640,64],"credentials":{"anthropicApi":{"id":"6uRuHS2e1JTZK3Lx","name":"Anthropic account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"points\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"point\": { \"type\": \"number\" },\n          \"name\": { \"type\": \"string\" },\n          \"layer\": { \"type\": \"string\" },\n          \"score\": { \"type\": \"string\", \"enum\": [\"Pass\", \"Partial\", \"Fail\"] },\n          \"evidence\": { \"type\": \"string\" },\n          \"recommendation\": { \"type\": \"string\" }\n        },\n        \"required\": [\"point\", \"name\", \"layer\", \"score\", \"evidence\", \"recommendation\"]\n      }\n    }\n  },\n  \"required\": [\"points\"]\n}"},"id":"output_parser","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2640,640]},{"parameters":{"jsCode":"const j = $input.first().json;\nconst out = j.output || j;\nconst points = Array.isArray(out.points) ? out.points : [];\nconst val = { Pass: 10, Partial: 5, Fail: 0 };\nlet pass = 0, partial = 0, fail = 0, score = 0;\nfor (const p of points) { score += (val[p.score]||0); if(p.score==='Pass')pass++; else if(p.score==='Partial')partial++; else fail++; }\nconst band = score>=90?'Strong site. Minor tune-up opportunities.':score>=70?'Solid foundation with fixable gaps.':score>=50?'Significant issues affecting lead flow and credibility.':'The site is costing the business more than it is earning.';\nconst base = $('Normalize + Hash URL').first().json;\nconst url = base.url;\nconst host = (base.host||'').replace(/^www\\./,'');\nconst preparedFor = (base.name && !/test/i.test(base.name)) ? base.name : (host ? host.charAt(0).toUpperCase()+host.slice(1) : url);\nlet lh = {};\ntry { lh = (JSON.parse($('Assemble Signal Bundle').first().json.bundle).lighthouse) || {}; } catch(e) {}\nconst lhCell = (label, v) => (v===null||v===undefined||v==='') ? '' : '<span class=lhi><b>'+label+'</b> '+v+'</span>';\nconst lhInner = lh.available ? (lhCell('Performance',lh.performance)+lhCell('Accessibility',lh.accessibility)+lhCell('Best Practices',lh.bestPractices)+lhCell('SEO',lh.seo)+lhCell('LCP',lh.lcp)+lhCell('CLS',lh.cls)) : '<span class=lhi>Data unavailable for this run</span>';\nconst lhStrip = '<div class=lhwrap><div class=lhlabel>Performance &mdash; Google Lighthouse</div><div class=lh>'+lhInner+'</div></div>';\nconst cc = [];\nif (base.email) cc.push('<b>'+base.email+'</b>');\nif (base.phone) cc.push('<b>'+base.phone+'</b>');\nconst contactLine = cc.length ? '<div class=meta>Contact: '+cc.join(' &nbsp;&middot;&nbsp; ')+'</div>' : '';\nconst cls = (s)=> s==='Pass'?'pass':(s==='Partial'?'partial':'fail');\nconst rows = points.map(p=> '<tr><td><span class=pt>'+p.point+'. '+p.name+'</span><br><span class=layer>'+p.layer+'</span></td><td class='+cls(p.score)+'>'+p.score+'</td><td>'+p.evidence+'</td><td>'+p.recommendation+'</td></tr>').join('');\nconst css = `body{font-family:'Lato',Arial,sans-serif;color:#161616;margin:0;background:#fff;} .band-top{background:#0e0e0e;padding:26px 40px;} .brandmark{font-family:'Playfair Display',serif;font-weight:900;font-size:30px;color:#fff;letter-spacing:.5px;} .brandmark .g{color:#e3c571;} .brandtag{color:#9a9a9a;font-size:11px;letter-spacing:3px;text-transform:uppercase;margin-top:4px;} .wrap{max-width:780px;margin:0 auto;padding:34px 40px 40px;} .kicker{text-transform:uppercase;letter-spacing:3px;font-size:11px;color:#a07f24;font-weight:700;} .h1{font-family:'Playfair Display',serif;font-size:25px;font-weight:700;margin:6px 0 2px;} .meta{color:#555;font-size:13px;margin:6px 0;} .meta b{color:#161616;} .scorewrap{border-left:5px solid #e3c571;padding-left:16px;margin:16px 0 14px;} .score{font-family:'Playfair Display',serif;font-size:48px;font-weight:900;line-height:1;} .score span{font-size:22px;color:#999;} .tally{font-size:14px;font-weight:700;margin-top:6px;} .band{font-style:italic;color:#444;margin-top:4px;} .lhwrap{margin:0 0 22px;} .lhlabel{font-size:10px;letter-spacing:2px;text-transform:uppercase;color:#a07f24;font-weight:700;margin-bottom:7px;} .lh{display:flex;flex-wrap:wrap;gap:8px;} .lhi{background:#f7f4ea;border:1px solid #e6dcc0;border-radius:4px;padding:5px 11px;font-size:12px;color:#555;} .lhi b{color:#161616;} table{border-collapse:collapse;width:100%;font-size:12.5px;} th{background:#0e0e0e;color:#fff;text-align:left;padding:9px;font-weight:700;} td{border:1px solid #e6e6e6;padding:9px;vertical-align:top;} .pt{font-weight:700;} .layer{color:#a07f24;font-size:9.5px;letter-spacing:1.5px;text-transform:uppercase;} .c{text-align:center;} .pass{text-align:center;font-weight:700;color:#1a7f37;} .partial{text-align:center;font-weight:700;color:#a07f24;} .fail{text-align:center;font-weight:700;color:#b3261e;} .foot{margin-top:30px;border-top:3px solid #e3c571;padding-top:16px;font-size:12px;color:#555;line-height:1.6;} .foot .b{font-family:'Playfair Display',serif;font-weight:700;color:#161616;font-size:15px;}`;\nconst html = `<!DOCTYPE html><html><head><meta charset=utf-8><link href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=Lato:wght@400;700&display=swap' rel='stylesheet'><style>${css}</style></head><body><div class=band-top><div class=brandmark>Simpl<span class=g>Works</span></div><div class=brandtag>Web Design &amp; AI Automation</div></div><div class=wrap><div class=kicker>10-Point Website Friction Audit</div><div class=h1>Prepared for ${preparedFor}</div><div class=meta>Website audited: <b>${url}</b></div>${contactLine}<div class=scorewrap><div class=score>${score}<span>/100</span></div><div class=tally>${pass} Pass &nbsp;&middot;&nbsp; ${partial} Partial &nbsp;&middot;&nbsp; ${fail} Fail</div><div class=band>${band}</div></div>${lhStrip}<table><tr><th>Point</th><th class=c>Score</th><th>Evidence</th><th>Recommendation</th></tr>${rows}</table><div class=foot><span class=b>SimplWorks</span><br>Knoxville, TN &nbsp;&middot;&nbsp; stephanie@simplworks.ai &nbsp;&middot;&nbsp; 678.617.4598 &nbsp;&middot;&nbsp; simplworks.ai</div></div></body></html>`;\nreturn [{ json: { audit_id: $('Insert: started').first().json.id, url, score, pass, partial, fail, tally: pass+' Pass / '+partial+' Partial / '+fail+' Fail', band, points, report_html: html, email: base.email, phone: base.phone, name: base.name, preparedFor } }];"},"id":"compute_score","name":"Compute Score + Tally","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,432]},{"parameters":{"operation":"update","tableId":"friction_audits","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Insert: started').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"scored"},{"fieldId":"score","fieldValue":"={{ $('Compute Score + Tally').first().json.score }}"},{"fieldId":"pass_count","fieldValue":"={{ $('Compute Score + Tally').first().json.pass }}"},{"fieldId":"partial_count","fieldValue":"={{ $('Compute Score + Tally').first().json.partial }}"},{"fieldId":"fail_count","fieldValue":"={{ $('Compute Score + Tally').first().json.fail }}"},{"fieldId":"results","fieldValue":"={{ JSON.stringify($('Compute Score + Tally').first().json.points) }}"}]}},"id":"update_scored","name":"Update: scored","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3088,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"https://api.cloudflare.com/client/v4/accounts/a86b71684cc9a102976aad124360f182/browser-rendering/pdf","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ html: $('Compute Score + Tally').first().json.report_html }) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"generate_pdf","name":"Generate PDF (optional)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,432],"credentials":{"httpHeaderAuth":{"id":"xy9VfUheYBZJYDUL","name":"Header Auth account 2"}},"onError":"continueRegularOutput","notes":"Optional. Connect a PDFShift/Gotenberg credential to render a branded PDF and attach it. The email already sends the branded HTML report, so this stays disabled until a PDF service is wired."},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"id":"email_resend","name":"Email via Resend","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3520,432],"credentials":{"httpHeaderAuth":{"id":"mQSvmgwDEnhjhKIl","name":"Header Auth account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"friction_audits","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Insert: started').first().json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"delivered"}]}},"id":"update_delivered","name":"Update: delivered","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3968,432],"credentials":{"supabaseApi":{"id":"Ch0XcgU7fkzZazyy","name":"Supabase account"}}},{"parameters":{},"id":"error_trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,768]},{"parameters":{"jsCode":"const e = $input.first().json || {};\nconst wf = e.workflow ? e.workflow.name : 'Friction Audit Engine';\nconst exec = e.execution || {};\nconst node = exec.lastNodeExecuted || 'unknown node';\nconst msg = (exec.error && exec.error.message) ? exec.error.message : 'unknown error';\nconst urlInfo = (exec.error && exec.error.node) ? (' [' + exec.error.node.name + ']') : '';\nreturn [{ json: { text: '🚨 ' + wf + ' FAILED at \"' + node + '\"' + urlInfo + '\\n' + msg } }];"},"id":"build_alert","name":"Build Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,768]},{"parameters":{"jsCode":"const c = $('Compute Score + Tally').first().json;\nconst out = {\n  from: 'SimplWorks <audit@simplworks.ai>',\n  to: [ c.email || 'stephanie@simplworks.ai' ],\n  subject: 'Your SimplWorks Friction Audit - ' + c.score + '/100',\n  html: c.report_html\n};\ntry {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  if (buf && buf.length) {\n    out.attachments = [{ filename: 'SimplWorks-Friction-Audit-' + c.score + '.pdf', content: buf.toString('base64') }];\n  }\n} catch (e) {}\nreturn [{ json: out }];"},"id":"build_email_payload","name":"Build Email Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,624]},{"id":"notify_steph_slack","name":"Notify Stephanie","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[3740,420],"parameters":{"authentication":"accessToken","resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"C0B4NU1KTRR"},"text":"=✅ *Friction Audit complete - {{ $('Compute Score + Tally').first().json.score }}/100*  ({{ $('Compute Score + Tally').first().json.tally }})\n*Site:* {{ $('Compute Score + Tally').first().json.url }}\n*Lead:* {{ $('Compute Score + Tally').first().json.preparedFor }}\n*Email:* {{ $('Compute Score + Tally').first().json.email || 'n/a' }}   *Phone:* {{ $('Compute Score + Tally').first().json.phone || 'n/a' }}","otherOptions":{}},"credentials":{"slackApi":{"id":"Pwu0BcWDd4NXP4nQ","name":"Slack API account"}},"onError":"continueRegularOutput","webhookId":"a5956fc2-4eb6-43dd-9e4d-205c851d9791"},{"id":"alert_steph_slack","name":"Alert Stephanie","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[440,760],"parameters":{"authentication":"accessToken","resource":"message","operation":"post","select":"channel","channelId":{"__rl":true,"mode":"id","value":"C0B4NU1KTRR"},"text":"={{ $json.text }}","otherOptions":{}},"credentials":{"slackApi":{"id":"Pwu0BcWDd4NXP4nQ","name":"Slack API account"}},"onError":"continueRegularOutput","webhookId":"fea421b0-6188-458c-8429-343c43bd40c8"}],"connections":{"Webhook - Prospect URL":{"main":[[{"node":"Normalize + Hash URL","type":"main","index":0}]]},"Normalize + Hash URL":{"main":[[{"node":"Lookup by Hash","type":"main","index":0}]]},"Lookup by Hash":{"main":[[{"node":"Evaluate Freshness","type":"main","index":0}]]},"Evaluate Freshness":{"main":[[{"node":"Already Audited (14d)?","type":"main","index":0}]]},"Already Audited (14d)?":{"main":[[{"node":"Respond - Cached","type":"main","index":0}],[{"node":"Insert: started","type":"main","index":0}]]},"Insert: started":{"main":[[{"node":"Respond - 202 Accepted","type":"main","index":0}]]},"Respond - 202 Accepted":{"main":[[{"node":"Fetch Site HTML","type":"main","index":0},{"node":"PageSpeed Insights","type":"main","index":0}]]},"Fetch Site HTML":{"main":[[{"node":"Parse Hard Signals","type":"main","index":0}]]},"Parse Hard Signals":{"main":[[{"node":"Merge Signals","type":"main","index":0}]]},"PageSpeed Insights":{"main":[[{"node":"Merge Signals","type":"main","index":1}]]},"Merge Signals":{"main":[[{"node":"Assemble Signal Bundle","type":"main","index":0}]]},"Assemble Signal Bundle":{"main":[[{"node":"Score - GPT (primary)","type":"main","index":0}]]},"Score - GPT (primary)":{"main":[[{"node":"Compute Score + Tally","type":"main","index":0}],[{"node":"Score - Claude (fallback)","type":"main","index":0}]]},"Score - Claude (fallback)":{"main":[[{"node":"Compute Score + Tally","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Score - GPT (primary)","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Score - Claude (fallback)","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Score - GPT (primary)","type":"ai_outputParser","index":0},{"node":"Score - Claude (fallback)","type":"ai_outputParser","index":0}]]},"Compute Score + Tally":{"main":[[{"node":"Update: scored","type":"main","index":0}]]},"Update: scored":{"main":[[{"node":"Generate PDF (optional)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Build Alert","type":"main","index":0}]]},"Generate PDF (optional)":{"main":[[{"node":"Build Email Payload","type":"main","index":0}]]},"Build Email Payload":{"main":[[{"node":"Email via Resend","type":"main","index":0}]]},"Email via Resend":{"main":[[{"node":"Notify Stephanie","type":"main","index":0}]]},"Notify Stephanie":{"main":[[{"node":"Update: delivered","type":"main","index":0}]]},"Build Alert":{"main":[[{"node":"Alert Stephanie","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Stephanie Belote","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-19T03:49:09.180Z","id":27,"workflowId":"lrd5S7KeK8efML5W","versionId":"a657f517-ebb4-4477-9d08-94bd84b88370","event":"activated","userId":"3e673f87-adf6-42c5-8cb6-61069dfbf0ca"},{"createdAt":"2026-06-19T03:49:09.121Z","id":26,"workflowId":"lrd5S7KeK8efML5W","versionId":"a657f517-ebb4-4477-9d08-94bd84b88370","event":"deactivated","userId":"3e673f87-adf6-42c5-8cb6-61069dfbf0ca"}]}}